@charset"UTF-8";

.menu-topo{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 70%;
   text-align: center;
   color: var(--cor_font);
   margin: 20px auto;
    }

.menu-topo h1 {
   font-size: 3.4rem;
}

nav{
   margin-bottom: 10px;
}

.disc-menu{
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   font-size: 3rem;
}

.disc-menu li {
   padding: 20px;
}

.item-topo{
   font-size: 2rem;
   text-decoration: none;
   color: var(--cor_font);
   border-bottom: 2px solid var(--cor_topo);
   padding: 2px;
}

.item-topo:hover{
   color: var(--cor_rodape);
}

.especialidades{
   display: flex;
   padding: 0px 20px;
}

.img-especialidades{
   max-width: 28%;
}

.img-especialidades img{
   width: 100%;
   height: 100%;
}