@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font_princi);
}
:root {
    --cor_font: #0000008c;
    --cor_topo: #00CAD1;
    --cor_rodape: #0C6E71;
    --font_princi: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6em;
}

/*Inicío Menu*/

header {
    padding: 0px 20px;
    max-width: 100%;
    background: var(--cor_topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu li {
    margin: 10px;
}

.itens-menu{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
}

.itens-menu:hover {
    color: var(--cor_rodape);
    transition: 0.3s;
    text-shadow: 0px 0px 0px transparent;

}

/* Fim do Menu*/

/*INICIO HOME*/

#home{
    height: 100vh;
    background-image: url(../imagens/recepcao.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

